@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(247, 247, 247);
    --selected: rgb(255, 132, 68);
    --muted: rgb(162, 162, 162);
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: rgb(15, 15, 15);
    --foreground: 210 40% 98%;
    --selected: rgb(255, 132, 68);
    --muted: rgb(162, 162, 162);
    --radius: 0.5rem;
    --border: 0 0% 11%;
  }

  .dark {
    --background: rgb(200, 15, 15);
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
